In [1]:
import numpy as np
import pandas as pd
import mysql.connector
from getpass import getpass

In [2]:
password = getpass
password = getpass()

# Dealing with the Marketing Information

### Reading database containing all the information

In [34]:
rd_station = pd.read_csv("../data/lead_complete_rdstation.csv", sep=",")

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\1553664775.py:1: DtypeWarning: Columns (3,4,5,6,7,8,11,12,15,17,24,32,33,35,36,37,40,41,42,43,45,47,48,50,52,53,55,56,57,58,60,63,64,67,69,70,72,73,74,75,76,77,78,80,81,83,85,86,87,88,89,91,92,93,94,95,96,97,100,101,102,103,104,106,108,110,111,112,113,114,115,116,117,118,120,122,123,124,125,126,127,130,131,132,133,134,136,137,138,139,140,141,142,143,144,145,147,148,149,151,152,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,170,172,173,175,176,177,180,181,183,184,186,189,191,192,193,195,196,197,199,200,201,202,203,204,206,207,208,209,210,213,214,215,216,217,218,219,220,222,223,224,225,226,227,229,230,232,234,235,237,239,241,242,244,247,248,250,251,252,253,254,255,256,257,258,260,262,264,265,266,267,268,269,270,271,272,273,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,294,295,296,297,298,300,301,305,306,307,308,309,310,311,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344) have mixed types. Specify dtype option on import or set low_memory=False.
  rd_station = pd.read_csv("../data/lead_complete_rdstation.csv", sep=",")

In [35]:
rd_station.columns = rd_station.columns.str.lower().str.replace(' ', '_')

In [36]:
def process_dataframe_columns(df):
    """
    Transform the columns of a DataFrame:
    1. Converts column names to lowercase
    2. Replaces spaces in column names with underscores

    Parameters:
    - DataFrame to be processed.

    Returns:
    - DataFrame with modified column names.
    """
    df.columns = df.columns.str.lower().str.replace(' ', '_')

    return df

rd_station = process_dataframe_columns(rd_station)

In [37]:
rd_station.columns

Index(['email', 'nome', 'telefone', 'celular', 'facebook', 'twitter',
       'linkedin', 'website', 'cargo', 'empresa',
       ...
       'você_tem_interesse_no_curso_de_pós-graduação_em_engenharia_da_manutenção?',
       'você_tem_interesse_no_curso_engenharia_e_gestão_de_ativos?',
       'você_tem_interesse_no_pós-mba_gestão_legal?',
       'você_vai_orientar_um_grupo_de_potenciais_negociadores,_profissionais_de_sua_empresa,_sobre_como_trocar_concessões_(5ª_etapa)._que_recomendações_você_lhe_faria?',
       'você_é_aluno(a)?', 'você_é_convidado_indumak?',
       'você_é_nosso_aluno_regular?', 'você_é_professor(a)_da_sustentare?',
       'área_de_atuação_da_empresa', 'área_de_atuação_de_interesse'],
      dtype='object', length=346)

## Understanding the dataset

In [38]:
rd_station.sample()

,email,nome,telefone,celular,facebook,twitter,linkedin,website,cargo,empresa,...,você_tem_interesse_no_curso_de_pós-graduação_em_engenharia_da_manutenção?,você_tem_interesse_no_curso_engenharia_e_gestão_de_ativos?,você_tem_interesse_no_pós-mba_gestão_legal?,"você_vai_orientar_um_grupo_de_potenciais_negociadores,_profissionais_de_sua_empresa,_sobre_como_trocar_concessões_(5ª_etapa)._que_recomendações_você_lhe_faria?",você_é_aluno(a)?,você_é_convidado_indumak?,você_é_nosso_aluno_regular?,você_é_professor(a)_da_sustentare?,área_de_atuação_da_empresa,área_de_atuação_de_interesse
8142,bmarilia.f@malwee.com.br,Marília Bergamo Fogatto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
rd_station.shape

(41722, 346)

In [40]:
rd_station.isna().sum()

email                                     0
nome                                    698
telefone                              33416
celular                               28981
facebook                              41527
                                      ...
você_é_convidado_indumak?             41699
você_é_nosso_aluno_regular?           41579
você_é_professor(a)_da_sustentare?    41699
área_de_atuação_da_empresa            41557
área_de_atuação_de_interesse          41722
Length: 346, dtype: int64

In [41]:
rd_station.dtypes

email                                  object
nome                                   object
telefone                               object
celular                                object
facebook                               object
                                       ...
você_é_convidado_indumak?              object
você_é_nosso_aluno_regular?            object
você_é_professor(a)_da_sustentare?     object
área_de_atuação_da_empresa             object
área_de_atuação_de_interesse          float64
Length: 346, dtype: object

## Dropping the columns that won't need

In [42]:
print(rd_station.columns)

Index(['email', 'nome', 'telefone', 'celular', 'facebook', 'twitter',
       'linkedin', 'website', 'cargo', 'empresa',
       ...
       'você_tem_interesse_no_curso_de_pós-graduação_em_engenharia_da_manutenção?',
       'você_tem_interesse_no_curso_engenharia_e_gestão_de_ativos?',
       'você_tem_interesse_no_pós-mba_gestão_legal?',
       'você_vai_orientar_um_grupo_de_potenciais_negociadores,_profissionais_de_sua_empresa,_sobre_como_trocar_concessões_(5ª_etapa)._que_recomendações_você_lhe_faria?',
       'você_é_aluno(a)?', 'você_é_convidado_indumak?',
       'você_é_nosso_aluno_regular?', 'você_é_professor(a)_da_sustentare?',
       'área_de_atuação_da_empresa', 'área_de_atuação_de_interesse'],
      dtype='object', length=346)

In [43]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station['cidade'].value_counts())

cidade
Joinville                    2796
Jaraguá do Sul                201
São Paulo                     185
São Bento do Sul              130
Itajaí                         96
Curitiba                       52
Blumenau                       51
Rio de Janeiro                 49
Florianópolis                  41
Belo Horizonte                 30
São Francisco do Sul           28
Fortaleza                      25
Brasília                       25
Sete Lagoas                    21
Navegantes                     20
Vila Velha                     19
Franca                         18
Schroeder                      18
Salvador                       16
Itapoá                         15
Araquari                       15
Goiânia                        14
Campinas                       14
Guaramirim                     14
Recife                         14
Tijucas                        13
Jundiaí                        12
Vitória                        11
Balneário Piçarras             11
Teresina                       11
São Luís                       11
Barra Velha                    11
Rio do Sul                     10
Penha                          10
São José dos Pinhais           10
Timbó                          10
Caxias do Sul                   9
Santos                          9
Garuva                          9
Porto Alegre                    9
São José dos Campos             8
Rio Negrinho                    8
Osasco                          8
Massaranduba                    8
Sorocaba                        8
Balneário Camboriú              8
Ribeirão Preto                  8
Brusque                         7
Abdon Batista                   7
Londrina                        7
Manaus                          7
Pomerode                        7
São Bernardo do Campo           7
Natal                           7
São José                        7
Indaial                         6
Belém                           6
Indaiatuba                      6
Maceió                          6
Barueri                         6
Lages                           6
Criciúma                        5
Sarzedo                         5
Diadema                         5
Ponta Grossa                    5
Cachoeirinha                    5
Camboriú                        5
Serra                           5
Cariacica                       5
Abelardo Luz                    4
Novo Hamburgo                   4
Cuiabá                          4
Santana de Parnaíba             4
Uberlândia                      4
Mauá                            4
Balneário Barra do Sul          4
Campo Alegre                    4
Aracaju                         4
Canoas                          4
Guarulhos                       4
Rio Claro                       4
Corupá                          4
Petrópolis                      4
Botucatu                        4
Santo André                     4
Contagem                        4
Campo Grande                    4
Concórdia                       4
Jaguariaíva                     3
Ibirama                         3
Itapevi                         3
Atibaia                         3
Porto Belo                      3
Presidente Getúlio              3
Pinhais                         3
Belo Jardim                     3
Gravataí                        3
Palmas                          3
Erechim                         3
Gaspar                          3
Palhoça                         3
São Gonçalo                     3
Passos                          3
Itaiópolis                      3
São Caetano do Sul              3
Uberaba                         3
Joinville                       3
Chapecó                         3
Carapicuíba                     3
Itapecerica da Serra            2
Patos de Minas                  2
Fraiburgo                       2
Franco da Rocha                 2
Abaiara                         2
Ji-Paraná                       2
Teresópolis                     2
Ourinhos                        2
Embu das Artes                  2
Curitibanos                     2
Feira de Santana                2
Betim                           2
Campina Grande                  2
Macaé                           2
Camaçari                        2
Cocal do Sul                    2
Antônio Carlos                  2
Esteio                          2
Medianeira                      2
Ipatinga                        2
Bragança Paulista               2
Otacílio Costa                  2
Itacoatiara                     2
Duque de Caxias                 2
Sumaré                          2
Jaboatão dos Guararapes         2
Embu-Guaçu                      2
Toledo                          2
Cascavel                        2
Guarujá                         2
Monte Alto                      2
Santa Maria                     2
Guaporé                         2
Ijuí                            2
Foz do Iguaçu                   2
Guaratuba                       2
São Bento                       2
Cosmópolis                      2
Montes Claros                   2
Mogi das Cruzes                 2
Araraquara                      2
União da Vitória                2
Petrolina                       2
Itapema                         2
Niterói                         2
Abaeté                          2
Maringá                         2
Piumhi                          2
Pato Branco                     2
Piracicaba                      2
Ilha Solteira                   1
Valinhos                        1
Araucária                       1
Alfenas                         1
Jacareí                         1
Miracatu                        1
Timóteo                         1
Joinville - SC                  1
Videira                         1
Campo Mourão                    1
Pelotas                         1
Valença                         1
Cianorte                        1
Abatiá                          1
Tubarão                         1
Petrolândia                     1
Juruti                          1
Cabo Verde                      1
Buenos Aires                    1
Nilópolis                       1
Cruz Alta                       1
Carmo                           1
Canaã dos Carajás               1
Itaperuna                       1
Canoinhas                       1
Telêmaco Borba                  1
Biguaçu                         1
Moju                            1
Braço do Trombudo               1
Barra de Santo Antônio          1
Guaranésia                      1
Pacatuba                        1
São Carlos                      1
Almirante Tamandaré             1
Castilho                        1
Campos Novos                    1
Maracás                         1
São João do Itaperiú            1
Capivari de Baixo               1
Cornélio Procópio               1
Parnamirim                      1
Várzea Grande                   1
Guarapari                       1
Matinhos                        1
Caucaia                         1
Santa Terezinha                 1
Piên                            1
Dois Vizinhos                   1
Santa Rosa                      1
Guariba                         1
Goiás                           1
Luiz Alves                      1
Rio Branco                      1
Papanduva                       1
Nova Iguaçu de Goiás            1
Taubaté                         1
São Bonifácio                   1
Meleiro                         1
Lagoa da Prata                  1
Guabiruba                       1
Estância                        1
Pindamonhangaba                 1
Pacajus                         1
Ananindeua                      1
Ilhéus                          1
São José do Rio Preto           1
Três Lagoas                     1
Canguaretama                    1
Tiradentes do Sul               1
Siderópolis                     1
Jacobina                        1
Irati                           1
Pacaembu                        1
Laurentino                      1
Juazeiro do Norte               1
Garibaldi                       1
Praia Grande                    1
Ibatiba                         1
Cajamar                         1
Teutônia                        1
Trombudo Central                1
Porto Velho                     1
Adamantina                      1
São Miguel do Oeste             1
Cachoeiro de Itapemirim         1
Santa Bárbara d'Oeste           1
Galiléia                        1
Aracruz                         1
São Mateus                      1
José Bonifácio                  1
Juazeiro                        1
Passo Fundo                     1
Ribeirão Pires                  1
Barra Mansa                     1
Alto Alegre do Maranhão         1
Goianésia                       1
Caçador                         1
Taquari                         1
Itu                             1
Tatuí                           1
Anita Garibaldi                 1
São Lourenço da Mata            1
Bauru                           1
Araçatuba                       1
Marechal Deodoro                1
Ibirité                         1
Sapucaia do Sul                 1
Santa Cruz do Rio Pardo         1
Pedro Leopoldo                  1
Santo Antônio do Pinhal         1
Nova Europa                     1
São Miguel do Iguaçu            1
Mogi Guaçu                      1
Valparaíso de Goiás             1
Manhuaçu                        1
Rio Negro                       1
Itajubá                         1
Garopaba                        1
Unaí                            1
Araruama                        1
São José de Ribamar             1
Piracaia                        1
Paço do Lumiar                  1
Abre Campo                      1
Lauro de Freitas                1
Mogi Mirim                      1
Taboão da Serra                 1
Salto                           1
Três Passos                     1
Lontras                         1
Maricá                          1
Guaraçaí                        1
Eldorado do Sul                 1
Abreulândia                     1
Jaú                             1
Nova Odessa                     1
Araxá                           1
Juiz de Fora                    1
Colombo                         1
Imaruí                          1
Igarapé                         1
Fazenda Rio Grande              1
Cristalina                      1
Itupeva                         1
Limeira                         1
Primavera do Leste              1
Aperibé                         1
Dois Irmãos                     1
Nova Friburgo                   1
Abadia de Goiás                 1
Treze Tílias                    1
Gramado                         1
São Francisco do Sul - SC       1
Suzano                          1
Name: count, dtype: int64

In [44]:
#rd_station.notnull().sum().sort_values(ascending=False).head(70)
# To be able to look at all the lines
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station.notnull().sum().sort_values(ascending=False).head(70))

email                                                                                            41722
estágio_no_funil                                                                                 41722
total_de_conversões                                                                              41722
url_pública                                                                                      41722
status_para_comunicação_por_email                                                                41722
lead_scoring_-_interesse                                                                         41722
lead_scoring_-_perfil                                                                            41722
base_legal_para_comunicação                                                                      41660
eventos_(últimos_100)                                                                            41340
origem_da_última_conversão                                                                       41340
data_da_última_conversão                                                                         41340
origem_da_primeira_conversão                                                                     41340
data_da_primeira_conversão                                                                       41340
nome                                                                                             41024
curso_de_interesse:                                                                              18186
empresa                                                                                          17573
cargo.1                                                                                          14484
celular                                                                                          12741
celular.1                                                                                        11509
tags                                                                                             10378
telefone                                                                                          8306
data_da_última_oportunidade                                                                       7465
cargo                                                                                             7335
estado                                                                                            6983
etapa_do_funil_de_vendas_no_crm_(última_atualização)                                              6549
qualificação_da_oportunidade_no_crm_(última_atualização)                                          6549
nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)                                 6549
valor_total_da_oportunidade_no_crm_(última_atualização)                                           6549
origem_da_oportunidade_no_crm_(última_atualização)                                                6351
dono_do_lead                                                                                      5864
funil_de_vendas_no_crm_(última_atualização)                                                       4778
cidade                                                                                            4644
possui_interesse_em_realizar_uma_pós-graduação_ou_mba?                                            4577
qual_é_a_sua_área_de_atuação?                                                                     3593
cpf                                                                                               3386
selecione_o_curso_desejado:.1                                                                     3353
rg                                                                                                3188
data_de_nascimento                                                                                2994
endereço_(rua,_número_e_complemento)                                                              2774
motivo_de_perda_no_rd_station_crm                                                                 2768
qual_a_sua_área_de_atuação?                                                                       2513
curso_de_graduação                                                                                2284
desejo_receber_o_sustentare_news                                                                  2064
data_da_última_venda                                                                              1978
valor_da_última_venda                                                                             1974
como_você_conheceu_a_sustentare:                                                                  1954
bairro                                                                                            1929
naturalidade                                                                                      1917
ano                                                                                               1902
universidade                                                                                      1901
cep                                                                                               1861
pós-graduado?:                                                                                    1668
orgão_emissor                                                                                     1664
data_da_expedição                                                                                 1659
email2                                                                                            1568
reside_em:                                                                                        1174
qual_sua_área_de_interesse?                                                                       1063
telefone_comercial.1                                                                               948
curso_de_formação_e_capacitação                                                                    922
fone:                                                                                              807
não_associado                                                                                      786
associado_ajorpeme                                                                                 786
professor                                                                                          786
estudante                                                                                          786
inscrições_gratuitas_para_ex-alunos_e_alunos_(deverão_trazer_um_amigo_-_ver_rede_de_amizades)      783
inscrições_gratuitas_para_interessados_(novos_alunos_2016)                                         783
inscrição_para_comunidade_-_r$_40,00_*pagamento_via_boleto_bancário                                783
data_do_exame:                                                                                     645
selecione_o_curso_desejado:.2                                                                      644
quantas_pessoas_você_lidera?                                                                       641
dtype: int64

### If wanted to created a subset with the most responds field

In [45]:
top_50_filled = rd_station.notnull().sum().sort_values(ascending=False).head(50).index
rd_station_columns_responds_most = rd_station[top_50_filled]

## Creating a subset with the information on the lead <> Profile

In [46]:
rd_station_profile = rd_station[[
    'email', 'nome', 'lead_scoring_-_perfil', 'url_pública', 'estágio_no_funil', 'total_de_conversões',
    'lead_scoring_-_interesse', 'status_para_comunicação_por_email',
    'data_da_primeira_conversão', 'eventos_(últimos_100)', 'origem_da_última_conversão',
    'data_da_última_conversão', 'origem_da_primeira_conversão', 'curso_de_interesse:',
    'empresa', 'cargo.1', 'tags', 'data_da_última_oportunidade', 'cargo', 'estado',
    'valor_total_da_oportunidade_no_crm_(última_atualização)',
    'qualificação_da_oportunidade_no_crm_(última_atualização)',
    'etapa_do_funil_de_vendas_no_crm_(última_atualização)',
    'nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)',
    'origem_da_oportunidade_no_crm_(última_atualização)',
    'cidade', 'possui_interesse_em_realizar_uma_pós-graduação_ou_mba?',
    'qual_é_a_sua_área_de_atuação?', 'selecione_o_curso_desejado:.1',
    'qual_a_sua_área_de_atuação?', 'data_de_nascimento',
    'desejo_receber_o_sustentare_news', 'qual_sua_área_de_interesse?',
    'como_você_conheceu_a_sustentare:', 'universidade', 'reside_em:',
    'cidade_de_residência:', 'interesse_em', 'qual_o_curso_de_interesse?'
]]

### Got different columns with representing the same thing, compiling all in one new columns

Represents City: 'Cidade', 'Reside em:' and 'Cidade de residência:'

In [47]:
# Using .loc because was receiving 'SettingWithCopyWarning'
rd_station_profile.loc[:, 'cidade_final'] = (
    rd_station_profile['cidade']
    .fillna(rd_station_profile['reside_em:'])
    .fillna(rd_station_profile['cidade_de_residência:'])
)

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\1712831611.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rd_station_profile.loc[:, 'cidade_final'] = (

Represents Position at the company: 'Cargo.1' and 'Cargo'

In [48]:
rd_station_profile.loc[:, 'cargo_final'] = (
    rd_station_profile['cargo.1']
    .fillna(rd_station_profile['cargo'])
)

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\1555167880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rd_station_profile.loc[:, 'cargo_final'] = (

Represents area of work in the company: 'Qual a sua área de atuação?', 'Qual a sua área de atuação?'

In [49]:
rd_station_profile.loc[:, 'area_atuacao'] = (
    rd_station_profile['qual_é_a_sua_área_de_atuação?']
    .fillna(rd_station_profile['qual_a_sua_área_de_atuação?'])
)

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\814111575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rd_station_profile.loc[:, 'area_atuacao'] = (

Represents course interest: 'Curso de interesse:', 'Qual sua área de interesse?' and 'Interesse em'

In [50]:
rd_station_profile.loc[:, 'interesse_final'] = (
    rd_station_profile['curso_de_interesse:']
    .fillna(rd_station_profile['selecione_o_curso_desejado:.1'])
    .fillna(rd_station_profile['qual_sua_área_de_interesse?'])
    .fillna(rd_station_profile['interesse_em'])
    .fillna(rd_station_profile['qual_o_curso_de_interesse?'])
)

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\2982015989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rd_station_profile.loc[:, 'interesse_final'] = (

In [51]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station_profile.isna().sum())

email                                                                    0
nome                                                                   698
lead_scoring_-_perfil                                                    0
url_pública                                                              0
estágio_no_funil                                                         0
total_de_conversões                                                      0
lead_scoring_-_interesse                                                 0
status_para_comunicação_por_email                                        0
data_da_primeira_conversão                                             382
eventos_(últimos_100)                                                  382
origem_da_última_conversão                                             382
data_da_última_conversão                                               382
origem_da_primeira_conversão                                           382
curso_de_interesse:                                                  23536
empresa                                                              24149
cargo.1                                                              27238
tags                                                                 31344
data_da_última_oportunidade                                          34257
cargo                                                                34387
estado                                                               34739
valor_total_da_oportunidade_no_crm_(última_atualização)              35173
qualificação_da_oportunidade_no_crm_(última_atualização)             35173
etapa_do_funil_de_vendas_no_crm_(última_atualização)                 35173
nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)    35173
origem_da_oportunidade_no_crm_(última_atualização)                   35371
cidade                                                               37078
possui_interesse_em_realizar_uma_pós-graduação_ou_mba?               37145
qual_é_a_sua_área_de_atuação?                                        38129
selecione_o_curso_desejado:.1                                        38369
qual_a_sua_área_de_atuação?                                          39209
data_de_nascimento                                                   38728
desejo_receber_o_sustentare_news                                     39658
qual_sua_área_de_interesse?                                          40659
como_você_conheceu_a_sustentare:                                     39768
universidade                                                         39821
reside_em:                                                           40548
cidade_de_residência:                                                41182
interesse_em                                                         41248
qual_o_curso_de_interesse?                                           41264
cidade_final                                                         36235
cargo_final                                                          21926
area_atuacao                                                         35800
interesse_final                                                      22223
dtype: int64

With this I was able to reduce 
- *Cidade* had 37078 null values now 36235
- *Cargo* had 27238 null values now 21926
- *Area Atuacao* had 39209 null values now 35800
- *Interesse Final* had 23536 null values now 22223

In [52]:
rd_station_profile = rd_station_profile.drop(columns=['cidade', 'reside_em:', 'cidade_de_residência:', 'cargo.1', 'cargo', 'qual_é_a_sua_área_de_atuação?', 'qual_a_sua_área_de_atuação?', 'curso_de_interesse:', 'qual_sua_área_de_interesse?', 'interesse_em', 'selecione_o_curso_desejado:.1'])

In [53]:
def process_rd_station_profile(df):

    """
    Transform the columns of DataFrame to lowercase and replace spaces in column names with underscores also,
    Process the DataFrame to handle missing values and create consolidated columns.

    Parameters:
    - rd_station (DataFrame): The original RD Station DataFrame.

    Returns:
    - DataFrame: Processed RD Station profile with consolidated and cleaned columns.
        """
    
    df.columns = df.columns.str.lower().str.replace(' ', '_')

    rd_station_profile = df[[
        'email', 'nome', 'lead_scoring_-_perfil', 'url_pública', 'estágio_no_funil', 'total_de_conversões',
        'lead_scoring_-_interesse', 'status_para_comunicação_por_email',
        'data_da_primeira_conversão', 'eventos_(últimos_100)', 'origem_da_última_conversão',
        'data_da_última_conversão', 'origem_da_primeira_conversão', 'curso_de_interesse:',
        'empresa', 'cargo.1', 'tags', 'data_da_última_oportunidade', 'cargo', 'estado',
        'valor_total_da_oportunidade_no_crm_(última_atualização)',
        'qualificação_da_oportunidade_no_crm_(última_atualização)',
        'etapa_do_funil_de_vendas_no_crm_(última_atualização)',
        'nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)',
        'origem_da_oportunidade_no_crm_(última_atualização)',
        'cidade', 'possui_interesse_em_realizar_uma_pós-graduação_ou_mba?',
        'qual_é_a_sua_área_de_atuação?', 'selecione_o_curso_desejado:.1',
        'qual_a_sua_área_de_atuação?', 'data_de_nascimento',
        'desejo_receber_o_sustentare_news', 'qual_sua_área_de_interesse?',
        'como_você_conheceu_a_sustentare:', 'universidade', 'reside_em:',
        'cidade_de_residência:', 'interesse_em', 'qual_o_curso_de_interesse?'
    ]]

    rd_station_profile.loc[:, 'cidade_final'] = (
        rd_station_profile['cidade']
        .fillna(rd_station_profile['reside_em:'])
        .fillna(rd_station_profile['cidade_de_residência:'])
    )

    rd_station_profile.loc[:, 'cargo_final'] = (
        rd_station_profile['cargo.1']
        .fillna(rd_station_profile['cargo'])
    )

    rd_station_profile.loc[:, 'area_atuacao'] = (
        rd_station_profile['qual_é_a_sua_área_de_atuação?']
        .fillna(rd_station_profile['qual_a_sua_área_de_atuação?'])
    )

    rd_station_profile.loc[:, 'interesse_final'] = (
        rd_station_profile['curso_de_interesse:']
        .fillna(rd_station_profile['selecione_o_curso_desejado:.1'])
        .fillna(rd_station_profile['qual_sua_área_de_interesse?'])
        .fillna(rd_station_profile['interesse_em'])
        .fillna(rd_station_profile['qual_o_curso_de_interesse?'])
    )
    rd_station_profile = rd_station_profile.drop(columns=['cidade', 'reside_em:', 'cidade_de_residência:', 'cargo.1', 'cargo', 'qual_é_a_sua_área_de_atuação?', 'qual_a_sua_área_de_atuação?', 'curso_de_interesse:', 'qual_sua_área_de_interesse?', 'interesse_em', 'selecione_o_curso_desejado:.1'])

    return rd_station_profile

# Dealing with the CRM information

### Doing the queries

In [3]:
# Database connection details
db_config = {
    'user': 'um_acesso_bi',
    'password': password,
    'host': '186.250.185.72',
    'database': 'unimestre'
}

def connect_to_database(config):
    try:
        connection = mysql.connector.connect(**config)
        return connection
    except Exception as e:
        print(f"Error connecting to the MySQL database: {e}")
        return None
    
db_connection = connect_to_database(db_config)

In [84]:
def get_student_information(connection):

    
    if connection is None:
        return "Connection to database failed."

    cursor = connection.cursor()
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    query = f'''SELECT
    pessoas.cd_pessoa,
    moodle.ds_email,
    CONCAT(UPPER(SUBSTRING(pessoas.ds_cidade, 1, 1)), LOWER(SUBSTRING(pessoas.ds_cidade, 2))) as ds_cidade,
    pessoas.dt_nascimento,
    log.min_dt_log
    FROM
    unimestre.pessoas AS pessoas
JOIN 
    unimestre_moodle.view_moodle_pessoas AS moodle
    ON pessoas.cd_pessoa = moodle.cd_pessoa
LEFT JOIN (
    SELECT
        cd_pessoa,
        MIN(dt_log) as min_dt_log
    FROM
        unimestre.diario_logs
    GROUP BY
        cd_pessoa
) AS log ON pessoas.cd_pessoa = log.cd_pessoa
limit 1000000;
'''
    df = pd.read_sql(query, connection)
    df = df.groupby('ds_email').first().reset_index()

    cursor.close()

    return df

info_student_unimestre = get_student_information(db_connection)
info_student_unimestre

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\3170828804.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

,cd_pessoa,ds_email,ds_cidade,dt_nascimento,min_dt_log
0,1001,fabiosilva@unimestre.com,Blumenau,2010-01-11 00:00:00,2013-07-26 14:13:39
1,1002,1002a@sememail.com,None,None,NaT
2,100003,wag_sc@hotmail.com,None,1987-04-02 00:00:00,NaT
3,100011,00000000000@sememail.com,None,1990-01-01 00:00:00,2013-12-04 10:33:45
4,100046,@sememail.com,São paulo,None,NaT
...,...,...,...,...,...
12054,170000461,76835297/00@sememail.com,Blumenau,None,NaT
12055,170000462,76840198/00@sememail.com,Florianópolis,None,NaT
12056,170000463,rodrigomnsn@hotmail.com,Joinville,1991-05-01 00:00:00,NaT
12057,170000464,@sememail.com,Blumenau,None,NaT
12058,170000465,170000465a@sememail.com,None,None,NaT

In [85]:
info_student_unimestre.isna().sum()

cd_pessoa           0
ds_email            0
ds_cidade        2231
dt_nascimento    3431
min_dt_log       8147
dtype: int64

In [86]:
def first_cd_turma_for_students(connection):

    """
    Performs a SQL query to retrieve information about the first 'cd_turma' for students
    from the 'unimestre.view_matriculas' table. Calculates the 'ano' and 'semestre' based on the
    'cd_turma' column and determines the minimum date associated with each 'cd_pessoa', 'cd_turma', 'ano',
    and 'semestre' combination. The result is returned as a Pandas DataFrame.

    Returns:
    - df (DataFrame): A DataFrame containing information about the first 'cd_turma' for students.

    """
        
    if connection is None:
        return "Connection to database failed."

    cursor = connection.cursor()
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    query = f'''SELECT
    m.cd_pessoa,
    m.cd_turma,
    SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma), 4) AS ano,
    SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma) + 4, 1) AS semestre,
    MIN(
        CASE
            WHEN SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma) + 4, 1) = 'A' THEN DATE_FORMAT(CONCAT(SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma), 4), '-02-01'), '%Y-%m-%d')
            WHEN SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma) + 4, 1) = 'B' THEN DATE_FORMAT(CONCAT(SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma), 4), '-07-01'), '%Y-%m-%d')
            ELSE NULL
        END
    ) AS min_date
FROM
    unimestre.view_matriculas AS m
GROUP BY
    m.cd_pessoa, m.cd_turma, ano, semestre
LIMIT 100000;

# Counting the number of unique cd_pessoa with NULL in min_formatted_date.
SELECT
    COUNT(CASE WHEN min_date IS NULL THEN 1 ELSE NULL END) AS null_min_date_count
FROM (
    SELECT
        m.cd_pessoa,
        MIN(
            CASE
                WHEN SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma) + 4, 1) = 'A' THEN DATE_FORMAT(CONCAT(SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma), 4), '-02-01'), '%Y-%m-%d')
                WHEN SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma) + 4, 1) = 'B' THEN DATE_FORMAT(CONCAT(SUBSTRING(m.cd_turma, LOCATE('20', m.cd_turma), 4), '-07-01'), '%Y-%m-%d')
                ELSE NULL
            END
        ) AS min_date
    FROM
        unimestre.view_matriculas AS m
    GROUP BY
        m.cd_pessoa
) AS subquery
LIMIT 10;

'''
    df = pd.read_sql(query, connection)

    cursor.close()

    return df

first_cd_turma_student = first_cd_turma_for_students(db_connection)

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\1372293948.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

       cd_pessoa       cd_turma   ano semestre    min_date
0         100135   MDINTER2014A  2014        A  2014-02-01
1         100143          CAPAC              A        None
2         100143       MBA2014A  2014        A  2014-02-01
3         100160    ADMOPL2014A  2014        A  2014-02-01
4         100178    MBAOPL2014A  2014        A  2014-02-01
...          ...            ...   ...      ...         ...
15897  170000395   MBAPROJ2013B  2013        B  2013-07-01
15898  170000412    GESTRI2013B  2013        B  2013-07-01
15899  170000430   ENGEMAN2013B  2013        B  2013-07-01
15900  170000430  ENGPROCE2017A  2017        A  2017-02-01
15901  170000430  ENGPROCE2018A  2018        A  2018-02-01

[15902 rows x 5 columns]

In [87]:
first_cd_turma_student.isna().sum()

cd_pessoa       0
cd_turma        0
ano             0
semestre        0
min_date     9162
dtype: int64

In [90]:
# Trying to find the info of the first contact of the student with the school in another table
def first_contact_dates_for_students(connection):

    """ 
    Returns:
    - df (DataFrame): A DataFrame containing information about the first contact date of students.

    SQL query to retrieve information about the first contact date of students
    with the school from the 'unimestre.pessoas' table. The query selects the 'cd_pessoa' and 'dt_cadastro'
    columns, grouping the results by 'cd_pessoa' to get unique records. The result is returned as a DataFrame.
    
    """
    if connection is None:
        return "Connection to database failed."

    cursor = connection.cursor()
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()

    query = f'''
    SELECT
        cd_pessoa, dt_cadastro 
    FROM
        unimestre.pessoas
    GROUP BY cd_pessoa
    LIMIT 10; 
'''
    df = pd.read_sql(query, connection)

    cursor.close()

    return df

dt_cadastro_student = first_contact_dates_for_students(db_connection)
dt_cadastro_student

C:\Users\anafl\AppData\Local\Temp\ipykernel_19608\3074074535.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

       cd_pessoa dt_cadastro
0           1001  2010-01-01
1           1002         NaT
2         100003  2013-12-02
3         100011  2013-12-03
4         100046  2013-12-04
...          ...         ...
12054  170000461  2013-11-22
12055  170000462  2013-11-22
12056  170000463  2013-11-23
12057  170000464  2013-11-28
12058  170000465         NaT

[12059 rows x 2 columns]

Trying to get less null values on the min_dt_log

In [91]:
merged_df = pd.merge(info_student_unimestre, dt_cadastro_student[['cd_pessoa', 'dt_cadastro']], on='cd_pessoa', how='left')
merged_df = pd.merge(merged_df, first_cd_turma_student[['cd_pessoa', 'min_date']], on='cd_pessoa', how='left')

info_student_unimestre['min_dt_log'] = merged_df['dt_cadastro'].fillna(merged_df['min_date']).fillna(info_student_unimestre['min_dt_log'])

In [92]:
info_student_unimestre.isna().sum()

cd_pessoa           0
ds_email            0
ds_cidade        2231
dt_nascimento    3431
min_dt_log        150
dtype: int64

Was able to reduce 
- *min_dt_log* had 9163 null values now 150

Dropping columns with replicate values

In [99]:
def handle_missing_value_on_min_dt_log(info_student_unimestre, dt_cadastro_student, first_cd_turma_student):
    """
    Merge three DataFrames based on 'cd_pessoa' and handle missing values.

    Parameters:
    - info_student_unimestre (DataFrame): DataFrame containing student information from Unimestre.
    - dt_cadastro_student (DataFrame): DataFrame containing student registration dates.
    - first_cd_turma_student (DataFrame): DataFrame containing the first contact date of students with the school.

    Returns:
    - merged_df (DataFrame): Merged DataFrame with handled missing values.
    """
    # Merge 'info_student_unimestre' with 'dt_cadastro_student'
    merged_df = pd.merge(info_student_unimestre, dt_cadastro_student[['cd_pessoa', 'dt_cadastro']], on='cd_pessoa', how='left')

    # Merge the result with 'first_cd_turma_student'
    merged_df = pd.merge(merged_df, first_cd_turma_student[['cd_pessoa', 'min_date']], on='cd_pessoa', how='left')

    # Handle missing values in 'dt_cadastro'
    info_student_unimestre['min_dt_log'] = merged_df['dt_cadastro'].fillna(merged_df['min_date']).fillna(info_student_unimestre['min_dt_log'])

    return merged_df

# Joining Marketing info with CRM

In [94]:
merge_left = rd_station_profile.merge(info_student_unimestre, left_on='email', right_on='ds_email', how='left')

Creating a new column saying it's a student when a cd_pessoa is found

In [95]:
merge_left['aluno'] = (merge_left['cd_pessoa'].notnull()).astype(int)
merge_left['aluno'].value_counts()

aluno
0    37599
1     4123
Name: count, dtype: int64

## Got different columns with representing the same thing, compiling all in one new columns

In [101]:
def merge_and_preprocess_data(rd_station_profile, info_student_unimestre):
    """
    Merge data from RD Station and Unimestre, and perform necessary preprocessing. Convert into csv

    Parameters:
    - rd_station_profile (DataFrame): DataFrame containing data from RD Station.
    - info_student_unimestre (DataFrame): DataFrame containing student information from Unimestre.

    Returns:
    - merged_df (DataFrame): Merged DataFrame with preprocessed columns.

    """
    # Merge data from RD Station and Unimestre based on the email column
    merge_left = rd_station_profile.merge(info_student_unimestre, left_on='email', right_on='ds_email', how='left')

    # Create a binary column 'aluno' indicating whether a person is a student
    merge_left['aluno'] = (merge_left['cd_pessoa'].notnull()).astype(int)

    # Handle missing values in 'cidade' and 'data_nascimento'
    merge_left.loc[:, 'cidade'] = merge_left['ds_cidade'].fillna(merge_left['cidade_final'])
    merge_left.loc[:, 'data_nascimento'] = merge_left['dt_nascimento'].fillna(merge_left['data_de_nascimento'])

    # Drop unnecessary columns
    merge_left = merge_left.drop(columns=['ds_cidade', 'cidade_final', 'dt_nascimento', 'data_de_nascimento'])

    # Save the result to a CSV file
    merge_left.to_csv("../data/merged_lead_student.csv")

    return merge_left

In [102]:
merge_left = merge_and_preprocess_data(rd_station_profile, info_student_unimestre)

With this I was able to reduce 
- *Cidade* had 35856 null values now 33986
- *Data Nascimento* had 38346 null values now 36117