In [1]:
import numpy as np
import pandas as pd

# Reading database containing all the information

In [50]:
rd_station = pd.read_csv("../data/lead_complete_rdstation.csv", sep=",")

C:\Users\anafl\AppData\Local\Temp\ipykernel_43248\1553664775.py:1: DtypeWarning: Columns (3,4,5,6,7,8,11,12,15,17,24,32,33,35,36,37,40,41,42,43,45,47,48,50,52,53,55,56,57,58,60,63,64,67,69,70,72,73,74,75,76,77,78,80,81,83,85,86,87,88,89,91,92,93,94,95,96,97,100,101,102,103,104,106,108,110,111,112,113,114,115,116,117,118,120,122,123,124,125,126,127,130,131,132,133,134,136,137,138,139,140,141,142,143,144,145,147,148,149,151,152,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,170,172,173,175,176,177,180,181,183,184,186,189,191,192,193,195,196,197,199,200,201,202,203,204,206,207,208,209,210,213,214,215,216,217,218,219,220,222,223,224,225,226,227,229,230,232,234,235,237,239,241,242,244,247,248,250,251,252,253,254,255,256,257,258,260,262,264,265,266,267,268,269,270,271,272,273,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,294,295,296,297,298,300,301,305,306,307,308,309,310,311,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344) have mixed types. Specify dtype option on import or set low_memory=False.
  rd_station = pd.read_csv("../data/lead_complete_rdstation.csv", sep=",")

In [91]:
rd_station.columns = rd_station.columns.str.lower().str.replace(' ', '_')

In [92]:
rd_station.columns

Index(['email', 'nome', 'facebook', 'twitter', 'linkedin', 'website', 'cargo',
       'empresa', 'país', 'estado',
       ...
       'você_tem_interesse_no_curso_de_pós-graduação_em_engenharia_da_manutenção?',
       'você_tem_interesse_no_curso_engenharia_e_gestão_de_ativos?',
       'você_tem_interesse_no_pós-mba_gestão_legal?',
       'você_vai_orientar_um_grupo_de_potenciais_negociadores,_profissionais_de_sua_empresa,_sobre_como_trocar_concessões_(5ª_etapa)._que_recomendações_você_lhe_faria?',
       'você_é_aluno(a)?', 'você_é_convidado_indumak?',
       'você_é_nosso_aluno_regular?', 'você_é_professor(a)_da_sustentare?',
       'área_de_atuação_da_empresa', 'área_de_atuação_de_interesse'],
      dtype='object', length=335)

# Understanding the dataset

In [93]:
rd_station.sample()

,email,nome,facebook,twitter,linkedin,website,cargo,empresa,país,estado,...,você_tem_interesse_no_curso_de_pós-graduação_em_engenharia_da_manutenção?,você_tem_interesse_no_curso_engenharia_e_gestão_de_ativos?,você_tem_interesse_no_pós-mba_gestão_legal?,"você_vai_orientar_um_grupo_de_potenciais_negociadores,_profissionais_de_sua_empresa,_sobre_como_trocar_concessões_(5ª_etapa)._que_recomendações_você_lhe_faria?",você_é_aluno(a)?,você_é_convidado_indumak?,você_é_nosso_aluno_regular?,você_é_professor(a)_da_sustentare?,área_de_atuação_da_empresa,área_de_atuação_de_interesse
34204,danibaum47@gmail.com,Daniela Baum de Freitas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
rd_station.shape

(41722, 335)

In [95]:
rd_station.isna().sum()

email                                     0
nome                                    698
facebook                              41527
twitter                               41417
linkedin                              41610
                                      ...
você_é_convidado_indumak?             41699
você_é_nosso_aluno_regular?           41579
você_é_professor(a)_da_sustentare?    41699
área_de_atuação_da_empresa            41557
área_de_atuação_de_interesse          41722
Length: 335, dtype: int64

In [96]:
rd_station.dtypes

email                                  object
nome                                   object
facebook                               object
twitter                                object
linkedin                               object
                                       ...
você_é_convidado_indumak?              object
você_é_nosso_aluno_regular?            object
você_é_professor(a)_da_sustentare?     object
área_de_atuação_da_empresa             object
área_de_atuação_de_interesse          float64
Length: 335, dtype: object

# Dropping the columns that won't need

In [103]:
print(rd_station.columns)

Index(['email', 'nome', 'facebook', 'twitter', 'linkedin', 'website', 'cargo',
       'empresa', 'país', 'estado',
       ...
       'você_tem_interesse_no_curso_de_pós-graduação_em_engenharia_da_manutenção?',
       'você_tem_interesse_no_curso_engenharia_e_gestão_de_ativos?',
       'você_tem_interesse_no_pós-mba_gestão_legal?',
       'você_vai_orientar_um_grupo_de_potenciais_negociadores,_profissionais_de_sua_empresa,_sobre_como_trocar_concessões_(5ª_etapa)._que_recomendações_você_lhe_faria?',
       'você_é_aluno(a)?', 'você_é_convidado_indumak?',
       'você_é_nosso_aluno_regular?', 'você_é_professor(a)_da_sustentare?',
       'área_de_atuação_da_empresa', 'área_de_atuação_de_interesse'],
      dtype='object', length=335)

In [98]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station['cidade'].value_counts())

cidade
Joinville                    2796
Jaraguá do Sul                201
São Paulo                     185
São Bento do Sul              130
Itajaí                         96
Curitiba                       52
Blumenau                       51
Rio de Janeiro                 49
Florianópolis                  41
Belo Horizonte                 30
São Francisco do Sul           28
Fortaleza                      25
Brasília                       25
Sete Lagoas                    21
Navegantes                     20
Vila Velha                     19
Franca                         18
Schroeder                      18
Salvador                       16
Itapoá                         15
Araquari                       15
Goiânia                        14
Campinas                       14
Guaramirim                     14
Recife                         14
Tijucas                        13
Jundiaí                        12
Vitória                        11
Balneário Piçarras             11
Teresina                       11
São Luís                       11
Barra Velha                    11
Rio do Sul                     10
Penha                          10
São José dos Pinhais           10
Timbó                          10
Caxias do Sul                   9
Santos                          9
Garuva                          9
Porto Alegre                    9
São José dos Campos             8
Rio Negrinho                    8
Osasco                          8
Massaranduba                    8
Sorocaba                        8
Balneário Camboriú              8
Ribeirão Preto                  8
Brusque                         7
Abdon Batista                   7
Londrina                        7
Manaus                          7
Pomerode                        7
São Bernardo do Campo           7
Natal                           7
São José                        7
Indaial                         6
Belém                           6
Indaiatuba                      6
Maceió                          6
Barueri                         6
Lages                           6
Criciúma                        5
Sarzedo                         5
Diadema                         5
Ponta Grossa                    5
Cachoeirinha                    5
Camboriú                        5
Serra                           5
Cariacica                       5
Abelardo Luz                    4
Novo Hamburgo                   4
Cuiabá                          4
Santana de Parnaíba             4
Uberlândia                      4
Mauá                            4
Balneário Barra do Sul          4
Campo Alegre                    4
Aracaju                         4
Canoas                          4
Guarulhos                       4
Rio Claro                       4
Corupá                          4
Petrópolis                      4
Botucatu                        4
Santo André                     4
Contagem                        4
Campo Grande                    4
Concórdia                       4
Jaguariaíva                     3
Ibirama                         3
Itapevi                         3
Atibaia                         3
Porto Belo                      3
Presidente Getúlio              3
Pinhais                         3
Belo Jardim                     3
Gravataí                        3
Palmas                          3
Erechim                         3
Gaspar                          3
Palhoça                         3
São Gonçalo                     3
Passos                          3
Itaiópolis                      3
São Caetano do Sul              3
Uberaba                         3
Joinville                       3
Chapecó                         3
Carapicuíba                     3
Itapecerica da Serra            2
Patos de Minas                  2
Fraiburgo                       2
Franco da Rocha                 2
Abaiara                         2
Ji-Paraná                       2
Teresópolis                     2
Ourinhos                        2
Embu das Artes                  2
Curitibanos                     2
Feira de Santana                2
Betim                           2
Campina Grande                  2
Macaé                           2
Camaçari                        2
Cocal do Sul                    2
Antônio Carlos                  2
Esteio                          2
Medianeira                      2
Ipatinga                        2
Bragança Paulista               2
Otacílio Costa                  2
Itacoatiara                     2
Duque de Caxias                 2
Sumaré                          2
Jaboatão dos Guararapes         2
Embu-Guaçu                      2
Toledo                          2
Cascavel                        2
Guarujá                         2
Monte Alto                      2
Santa Maria                     2
Guaporé                         2
Ijuí                            2
Foz do Iguaçu                   2
Guaratuba                       2
São Bento                       2
Cosmópolis                      2
Montes Claros                   2
Mogi das Cruzes                 2
Araraquara                      2
União da Vitória                2
Petrolina                       2
Itapema                         2
Niterói                         2
Abaeté                          2
Maringá                         2
Piumhi                          2
Pato Branco                     2
Piracicaba                      2
Ilha Solteira                   1
Valinhos                        1
Araucária                       1
Alfenas                         1
Jacareí                         1
Miracatu                        1
Timóteo                         1
Joinville - SC                  1
Videira                         1
Campo Mourão                    1
Pelotas                         1
Valença                         1
Cianorte                        1
Abatiá                          1
Tubarão                         1
Petrolândia                     1
Juruti                          1
Cabo Verde                      1
Buenos Aires                    1
Nilópolis                       1
Cruz Alta                       1
Carmo                           1
Canaã dos Carajás               1
Itaperuna                       1
Canoinhas                       1
Telêmaco Borba                  1
Biguaçu                         1
Moju                            1
Braço do Trombudo               1
Barra de Santo Antônio          1
Guaranésia                      1
Pacatuba                        1
São Carlos                      1
Almirante Tamandaré             1
Castilho                        1
Campos Novos                    1
Maracás                         1
São João do Itaperiú            1
Capivari de Baixo               1
Cornélio Procópio               1
Parnamirim                      1
Várzea Grande                   1
Guarapari                       1
Matinhos                        1
Caucaia                         1
Santa Terezinha                 1
Piên                            1
Dois Vizinhos                   1
Santa Rosa                      1
Guariba                         1
Goiás                           1
Luiz Alves                      1
Rio Branco                      1
Papanduva                       1
Nova Iguaçu de Goiás            1
Taubaté                         1
São Bonifácio                   1
Meleiro                         1
Lagoa da Prata                  1
Guabiruba                       1
Estância                        1
Pindamonhangaba                 1
Pacajus                         1
Ananindeua                      1
Ilhéus                          1
São José do Rio Preto           1
Três Lagoas                     1
Canguaretama                    1
Tiradentes do Sul               1
Siderópolis                     1
Jacobina                        1
Irati                           1
Pacaembu                        1
Laurentino                      1
Juazeiro do Norte               1
Garibaldi                       1
Praia Grande                    1
Ibatiba                         1
Cajamar                         1
Teutônia                        1
Trombudo Central                1
Porto Velho                     1
Adamantina                      1
São Miguel do Oeste             1
Cachoeiro de Itapemirim         1
Santa Bárbara d'Oeste           1
Galiléia                        1
Aracruz                         1
São Mateus                      1
José Bonifácio                  1
Juazeiro                        1
Passo Fundo                     1
Ribeirão Pires                  1
Barra Mansa                     1
Alto Alegre do Maranhão         1
Goianésia                       1
Caçador                         1
Taquari                         1
Itu                             1
Tatuí                           1
Anita Garibaldi                 1
São Lourenço da Mata            1
Bauru                           1
Araçatuba                       1
Marechal Deodoro                1
Ibirité                         1
Sapucaia do Sul                 1
Santa Cruz do Rio Pardo         1
Pedro Leopoldo                  1
Santo Antônio do Pinhal         1
Nova Europa                     1
São Miguel do Iguaçu            1
Mogi Guaçu                      1
Valparaíso de Goiás             1
Manhuaçu                        1
Rio Negro                       1
Itajubá                         1
Garopaba                        1
Unaí                            1
Araruama                        1
São José de Ribamar             1
Piracaia                        1
Paço do Lumiar                  1
Abre Campo                      1
Lauro de Freitas                1
Mogi Mirim                      1
Taboão da Serra                 1
Salto                           1
Três Passos                     1
Lontras                         1
Maricá                          1
Guaraçaí                        1
Eldorado do Sul                 1
Abreulândia                     1
Jaú                             1
Nova Odessa                     1
Araxá                           1
Juiz de Fora                    1
Colombo                         1
Imaruí                          1
Igarapé                         1
Fazenda Rio Grande              1
Cristalina                      1
Itupeva                         1
Limeira                         1
Primavera do Leste              1
Aperibé                         1
Dois Irmãos                     1
Nova Friburgo                   1
Abadia de Goiás                 1
Treze Tílias                    1
Gramado                         1
São Francisco do Sul - SC       1
Suzano                          1
Name: count, dtype: int64

In [105]:
#rd_station.notnull().sum().sort_values(ascending=False).head(70)
# To be able to look at all the lines
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station.notnull().sum().sort_values(ascending=False).head(70))

email                                                                                            41722
estágio_no_funil                                                                                 41722
total_de_conversões                                                                              41722
url_pública                                                                                      41722
lead_scoring_-_interesse                                                                         41722
lead_scoring_-_perfil                                                                            41722
status_para_comunicação_por_email                                                                41722
data_da_primeira_conversão                                                                       41340
eventos_(últimos_100)                                                                            41340
origem_da_última_conversão                                                                       41340
data_da_última_conversão                                                                         41340
origem_da_primeira_conversão                                                                     41340
nome                                                                                             41024
curso_de_interesse:                                                                              18186
empresa                                                                                          17573
cargo.1                                                                                          14484
tags                                                                                             10378
data_da_última_oportunidade                                                                       7465
cargo                                                                                             7335
estado                                                                                            6983
valor_total_da_oportunidade_no_crm_(última_atualização)                                           6549
qualificação_da_oportunidade_no_crm_(última_atualização)                                          6549
etapa_do_funil_de_vendas_no_crm_(última_atualização)                                              6549
nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)                                 6549
origem_da_oportunidade_no_crm_(última_atualização)                                                6351
dono_do_lead                                                                                      5864
funil_de_vendas_no_crm_(última_atualização)                                                       4778
cidade                                                                                            4644
possui_interesse_em_realizar_uma_pós-graduação_ou_mba?                                            4577
qual_é_a_sua_área_de_atuação?                                                                     3593
selecione_o_curso_desejado:.1                                                                     3353
data_de_nascimento                                                                                2994
motivo_de_perda_no_rd_station_crm                                                                 2768
qual_a_sua_área_de_atuação?                                                                       2513
curso_de_graduação                                                                                2284
desejo_receber_o_sustentare_news                                                                  2064
data_da_última_venda                                                                              1978
valor_da_última_venda                                                                             1974
como_você_conheceu_a_sustentare:                                                                  1954
bairro                                                                                            1929
naturalidade                                                                                      1917
ano                                                                                               1902
universidade                                                                                      1901
pós-graduado?:                                                                                    1668
data_da_expedição                                                                                 1659
reside_em:                                                                                        1174
qual_sua_área_de_interesse?                                                                       1063
curso_de_formação_e_capacitação                                                                    922
fone:                                                                                              807
não_associado                                                                                      786
associado_ajorpeme                                                                                 786
professor                                                                                          786
estudante                                                                                          786
inscrição_para_comunidade_-_r$_40,00_*pagamento_via_boleto_bancário                                783
inscrições_gratuitas_para_interessados_(novos_alunos_2016)                                         783
inscrições_gratuitas_para_ex-alunos_e_alunos_(deverão_trazer_um_amigo_-_ver_rede_de_amizades)      783
data_do_exame:                                                                                     645
selecione_o_curso_desejado:.2                                                                      644
quantas_pessoas_você_lidera?                                                                       641
número_de_funcionários                                                                             631
cidade.1                                                                                           617
escolha_a_modalidade_do_evento                                                                     614
cidade_de_residência:                                                                              540
identificador:                                                                                     536
acertos                                                                                            534
qual_o_seu_grau_de_escolaridade?                                                                   518
possui_interesse_em_detalhes_sobre_o_curso_escola_de_vendas?                                       493
interesse_em                                                                                       474
qual_o_curso_de_interesse?                                                                         458
seu_nome                                                                                           447
dtype: int64

### If wanted to created a subset with the most responds field

In [106]:
top_50_filled = rd_station.notnull().sum().sort_values(ascending=False).head(50).index
rd_station_columns_responds_most = rd_station[top_50_filled]

# Creating a subset with the information on the lead <> Profile

In [107]:
rd_station_profile = rd_station[[
    'email', 'lead_scoring_-_perfil', 'url_pública', 'estágio_no_funil', 'total_de_conversões',
    'lead_scoring_-_interesse', 'status_para_comunicação_por_email',
    'data_da_primeira_conversão', 'eventos_(últimos_100)', 'origem_da_última_conversão',
    'data_da_última_conversão', 'origem_da_primeira_conversão', 'curso_de_interesse:',
    'empresa', 'cargo.1', 'tags', 'data_da_última_oportunidade', 'cargo', 'estado',
    'valor_total_da_oportunidade_no_crm_(última_atualização)',
    'qualificação_da_oportunidade_no_crm_(última_atualização)',
    'etapa_do_funil_de_vendas_no_crm_(última_atualização)',
    'nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)',
    'origem_da_oportunidade_no_crm_(última_atualização)',
    'cidade', 'possui_interesse_em_realizar_uma_pós-graduação_ou_mba?',
    'qual_é_a_sua_área_de_atuação?', 'selecione_o_curso_desejado:.1',
    'qual_a_sua_área_de_atuação?', 'data_de_nascimento',
    'desejo_receber_o_sustentare_news', 'qual_sua_área_de_interesse?',
    'como_você_conheceu_a_sustentare:', 'universidade', 'reside_em:',
    'cidade_de_residência:', 'interesse_em', 'qual_o_curso_de_interesse?'
]]

Dropping all the columns that have the column 'Data da primeira conversão' null because it's one crucial information

In [108]:
rd_station_profile = rd_station_profile.dropna(subset=['data_da_primeira_conversão'])

In [109]:
rd_station_profile.shape

(41340, 38)

Checking nan values

In [110]:
rd_station_profile.isna().sum()

email                                                                    0
lead_scoring_-_perfil                                                    0
url_pública                                                              0
estágio_no_funil                                                         0
total_de_conversões                                                      0
lead_scoring_-_interesse                                                 0
status_para_comunicação_por_email                                        0
data_da_primeira_conversão                                               0
eventos_(últimos_100)                                                    0
origem_da_última_conversão                                               0
data_da_última_conversão                                                 0
origem_da_primeira_conversão                                             0
curso_de_interesse:                                                  23154
empresa                                                              23786
cargo.1                                                              26856
tags                                                                 31025
data_da_última_oportunidade                                          33876
cargo                                                                34035
estado                                                               34360
valor_total_da_oportunidade_no_crm_(última_atualização)              34957
qualificação_da_oportunidade_no_crm_(última_atualização)             34957
etapa_do_funil_de_vendas_no_crm_(última_atualização)                 34957
nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)    34957
origem_da_oportunidade_no_crm_(última_atualização)                   35142
cidade                                                               36699
possui_interesse_em_realizar_uma_pós-graduação_ou_mba?               36763
qual_é_a_sua_área_de_atuação?                                        37747
selecione_o_curso_desejado:.1                                        37987
qual_a_sua_área_de_atuação?                                          38827
data_de_nascimento                                                   38346
desejo_receber_o_sustentare_news                                     39276
qual_sua_área_de_interesse?                                          40277
como_você_conheceu_a_sustentare:                                     39386
universidade                                                         39439
reside_em:                                                           40166
cidade_de_residência:                                                40800
interesse_em                                                         40866
qual_o_curso_de_interesse?                                           40882
dtype: int64

In [111]:
rd_station_profile.sample()

,email,lead_scoring_-_perfil,url_pública,estágio_no_funil,total_de_conversões,lead_scoring_-_interesse,status_para_comunicação_por_email,data_da_primeira_conversão,eventos_(últimos_100),origem_da_última_conversão,...,qual_a_sua_área_de_atuação?,data_de_nascimento,desejo_receber_o_sustentare_news,qual_sua_área_de_interesse?,como_você_conheceu_a_sustentare:,universidade,reside_em:,cidade_de_residência:,interesse_em,qual_o_curso_de_interesse?
16105,sergio@bold.net,d,http://app.rdstation.com.br/leads/public/dd2d4...,Lead,1,10,True,2020-07-10 13:45:03 -0300,indicado-sarau-de-negocios-online,Referência | rdstation.com.br,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station['status_para_comunicação_por_email'].value_counts())

status_para_comunicação_por_email
True     35375
False     6347
Name: count, dtype: int64

## Got different columns with representing the same thing, compiling all in one new columns

Represents City: 'Cidade', 'Reside em:' and 'Cidade de residência:'

In [113]:
# Using .loc because was receiving 'SettingWithCopyWarning'
rd_station_profile.loc[:, 'cidade_final'] = (
    rd_station_profile['cidade']
    .fillna(rd_station_profile['reside_em:'])
    .fillna(rd_station_profile['cidade_de_residência:'])
)

Represents Position at the company: 'Cargo.1' and 'Cargo'

In [114]:
rd_station_profile.loc[:, 'cargo_final'] = (
    rd_station_profile['cargo.1']
    .fillna(rd_station_profile['cargo'])
)

Represents area of work in the company: 'Qual a sua área de atuação?', 'Qual a sua área de atuação?'

In [116]:
rd_station_profile.loc[:, 'area_atuacao'] = (
    rd_station_profile['qual_é_a_sua_área_de_atuação?']
    .fillna(rd_station_profile['qual_a_sua_área_de_atuação?'])
)

Represents course interest: 'Curso de interesse:', 'Qual sua área de interesse?' and 'Interesse em'

In [115]:
rd_station_profile.loc[:, 'interesse_final'] = (
    rd_station_profile['curso_de_interesse:']
    .fillna(rd_station_profile['selecione_o_curso_desejado:.1'])
    .fillna(rd_station_profile['qual_sua_área_de_interesse?'])
    .fillna(rd_station_profile['interesse_em'])
    .fillna(rd_station_profile['qual_o_curso_de_interesse?'])
)

In [117]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station_profile.isna().sum())

email                                                                    0
lead_scoring_-_perfil                                                    0
url_pública                                                              0
estágio_no_funil                                                         0
total_de_conversões                                                      0
lead_scoring_-_interesse                                                 0
status_para_comunicação_por_email                                        0
data_da_primeira_conversão                                               0
eventos_(últimos_100)                                                    0
origem_da_última_conversão                                               0
data_da_última_conversão                                                 0
origem_da_primeira_conversão                                             0
curso_de_interesse:                                                  23154
empresa                                                              23786
cargo.1                                                              26856
tags                                                                 31025
data_da_última_oportunidade                                          33876
cargo                                                                34035
estado                                                               34360
valor_total_da_oportunidade_no_crm_(última_atualização)              34957
qualificação_da_oportunidade_no_crm_(última_atualização)             34957
etapa_do_funil_de_vendas_no_crm_(última_atualização)                 34957
nome_do_responsável_pela_oportunidade_no_crm_(última_atualização)    34957
origem_da_oportunidade_no_crm_(última_atualização)                   35142
cidade                                                               36699
possui_interesse_em_realizar_uma_pós-graduação_ou_mba?               36763
qual_é_a_sua_área_de_atuação?                                        37747
selecione_o_curso_desejado:.1                                        37987
qual_a_sua_área_de_atuação?                                          38827
data_de_nascimento                                                   38346
desejo_receber_o_sustentare_news                                     39276
qual_sua_área_de_interesse?                                          40277
como_você_conheceu_a_sustentare:                                     39386
universidade                                                         39439
reside_em:                                                           40166
cidade_de_residência:                                                40800
interesse_em                                                         40866
qual_o_curso_de_interesse?                                           40882
cidade_final                                                         35856
cargo_final                                                          21574
interesse_final                                                      21841
area_atuacao                                                         35418
dtype: int64

With this I was able to reduce 
- *Cidade* had 37078 null values now 36235
- *Cargo* had 27238 null values now 21926
- *Area Atuacao* had 39209 null values now 35800
- *Interesse Final* had 23536 null values now 22223

In [118]:
rd_station_profile = rd_station_profile.drop(columns=['cidade', 'reside_em:', 'cidade_de_residência:', 'cargo.1', 'cargo', 'qual_é_a_sua_área_de_atuação?', 'qual_a_sua_área_de_atuação?', 'curso_de_interesse:', 'qual_sua_área_de_interesse?', 'interesse_em', 'selecione_o_curso_desejado:.1'])

In [119]:
rd_station_profile.to_csv("../data/rd_station_profile")

# Change to another file - transformation

### Column for the BirthDay

In [37]:
rd_station_profile['Birth_Year'] = rd_station_profile['Data de Nascimento'].str.extract(r'(\d{4})$')
rd_station_profile['Birth_Year'] = pd.to_numeric(rd_station_profile['Birth_Year'], errors='coerce')
current_year = pd.to_datetime('now').year
rd_station_profile['Age'] = current_year - rd_station_profile['Birth_Year']
#rd_station_profile = rd_station_profile.drop(columns=['Birth_Year', 'Data de Nascimento'])

In [21]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rd_station_profile['Age'].value_counts())

Age
 32.0      177
 34.0      163
 33.0      162
 30.0      154
 35.0      153
 37.0      147
 31.0      146
 36.0      145
 28.0      131
 38.0      128
 29.0      127
 40.0      116
 41.0      113
 39.0       99
 42.0       95
 26.0       90
 43.0       79
 27.0       78
 44.0       77
 25.0       58
 45.0       57
 46.0       45
 47.0       38
 23.0       37
 50.0       36
 48.0       35
 24.0       32
 51.0       31
 49.0       30
 52.0       29
 53.0       19
 54.0       13
 22.0       11
 56.0       11
 57.0        9
 55.0        8
 59.0        7
 60.0        7
 61.0        6
 58.0        5
 66.0        4
 68.0        4
 21.0        4
 123.0       3
 65.0        3
 71.0        3
 63.0        3
 69.0        2
 75.0        2
 67.0        2
 944.0       2
 0.0         2
 828.0       2
 74.0        2
 62.0        1
 1418.0      1
 127.0       1
 1241.0      1
-968.0       1
 17.0        1
 1361.0      1
 89.0        1
 64.0        1
 4.0         1
 912.0       1
 845.0       1
 227.0       1
 3.0         1
 832.0       1
 2.0         1
 831.0       1
 19.0        1
 1003.0      1
 1841.0      1
 939.0       1
-4975.0      1
 1030.0      1
 830.0       1
 20.0        1
 930.0       1
 76.0        1
 1.0         1
 73.0        1
 79.0        1
Name: count, dtype: int64

In [20]:
rd_station_profile[rd_station_profile['Age'] == -968.0]

,Email,Lead Scoring - Perfil,Total de conversões,Lead Scoring - Interesse,Eventos (Últimos 100),Origem da última conversão,Origem da primeira conversão,Curso de interesse:,Empresa,Estado,...,Qual é a sua área de atuação?,Qual sua área de interesse?,Data de Nascimento,Como você conheceu a Sustentare:,Universidade,Cargo Final,Area Atuacao,Cidade Final,Birth_Year,Age
19271,rayanamartinss@gmail.com,c,4,50,/site/curso/inteligencia-artificial-big-data-e...,Email | premio_historico_escolar_da_graduacao_,Busca Orgânica | google,/site/curso/inteligencia-artificial-big-data-e...,Tuper S/A,SC,...,Tecnologia da Informação,NaN,11/06/2991,Alunos (as),UDESC,Assistente/Analista,NaN,Rio Negrinho,2991.0,-968.0

### Have some strange 'Data de Nascimento' wich result in strange 'Age' so now, changing the subset to contain range age between 10 and 100

In [229]:
rd_station_profile.shape

(41722, 24)

In [230]:
# Define a custom function to clean the 'Age' column
def clean_age(age):
    # Check if the age is between 10 and 100, otherwise return blank
    if 10 <= age <= 100:
        return age
    else:
        return 

# Apply the custom function to the 'Age' column
rd_station_profile['Age'] = rd_station_profile['Age'].apply(clean_age)

# Checking the null info

In [231]:
rd_station_profile.shape

(41722, 24)

In [232]:
rd_station_profile.isna().sum()

Email                                                           0
Lead Scoring - Perfil                                           0
Total de conversões                                             0
Lead Scoring - Interesse                                        0
Eventos (Últimos 100)                                         382
Origem da última conversão                                    382
Origem da primeira conversão                                  382
Curso de interesse:                                         23536
Empresa                                                     24149
Estado                                                      34739
Valor total da Oportunidade no CRM (última atualização)     35173
Qualificação da Oportunidade no CRM (última atualização)    35173
Origem da Oportunidade no CRM (última atualização)          35371
Possui interesse em realizar uma Pós-Graduação ou MBA?      37145
Qual é a sua área de atuação?                               38129
Qual sua área de interesse?                                 40659
Data de Nascimento                                          38728
Como você conheceu a Sustentare:                            39768
Universidade                                                39821
Cargo Final                                                 21926
Area Atuacao                                                38197
Cidade Final                                                36535
Birth_Year                                                  38750
Age                                                         38780
dtype: int64

# Machine Learning

In [ ]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = df.drop('student', axis=1)
y = df['student']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the XGBoost classifier
xgb_clf = xgb.XGBClassifier(objective='binary:logistic', missing=None, seed=42)

# Train the classifier
xgb_clf.fit(X_train, y_train)

# Predictions
y_pred = xgb_clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)